@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './date.scss';
@import './text.scss';
body {
    font-family: 'Nunito', sans-serif;
    color: rgba(83, 82, 97, 1);
}
::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
