.custom-datepicker {
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.custom-datepicker .react-datepicker__day--selected {
    background-color: #4caf50;
    color: white;
}

.custom-datepicker .react-datepicker__header {
    background-color: #00ffe1;
    color: white;
}
